/* 输入框 */
input[type="text"], input[type="password"], input[type="number"], textarea {
    -webkit-appearance: none;
}

sea.input-group > input {
    list-style: none;
    position: relative;
    display: inline-flex;
    padding: .25rem 0.625rem;
    width: 100%;
    height: 2rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 0.0625rem solid var(--primary-border);
    border-radius: .25rem;
    transition: all .3s;
    outline: 0;
}
sea.input-group > input:hover {
    border-color: var(--primary-hover);
}
sea.input-group > input:focus {
    border-color: var(--primary-active);

}
sea.input-group > input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
sea.input-group > input:-ms-input-placeholder {
  color: #bfbfbf;
}
sea.input-group > input::-webkit-input-placeholder {
  color: #bfbfbf;
}

sea.input-group.lg > input {
  padding: 6px 11px;
  height: 40px;
  font-size: 16px;
}
sea.input-group.sm > input {
  padding: 1px 7px;
  height: 24px;
}

sea.input-group > :first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
sea.input-group > :last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
sea.input-group > :not(:first-child):not(:last-child) {
    border-radius: 0;
}
sea.input-group > :not(:last-child) {
    margin-right: -0.1rem;
}
sea.input-group > :hover, sea.input-group :focus, sea.input-group :active {
    z-index: 1;
}
